@model ProjectManager.Core.Models.ManagerModel
@{
    ViewBag.Title = "Admin";
}

<br />
<br />
<h2>Welcome to Admin Page @User.Identity.Name</h2>
<hr />
<div class="col-md-12">
    <div class="col-md-4" style="margin:5px;padding:5px">
        <a style="color:white;background-color:#484848" href="@Url.Action("Create", "EmployeeManager")" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> New Employee
        </a>  |
        <a style="color:white;background-color:#484848" href=@Url.Action("Create", "DepartmentManager") class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> New Department
        </a>
    </div>
</div>
<br />
<div class="col-md-6" style="margin:5px;padding:5px">
    <div class="col-md-12" style="background-color:#484848;color:white;border:3px solid white">
        <h4><b>Employee Management</b></h4>
        <div class="list-group">
            @Html.ActionLink("Click to Manage Employees", "Index", "EmployeeManager", null, new { @class = "list-group-item" })
        </div>
    </div>
    <div>
        <a class="brand"></a>
    </div>
    <div class="col-md-12" style="background-color:#484848;color:white;border:3px solid white">
        <h4><b>Department Management</b></h4>
        <div class="list-group">
            @Html.ActionLink("Click to Manage Departments", "Index", "DepartmentManager", null, new { @class = "list-group-item" })
        </div>
    </div>
</div>
