@model ProjectManager.Core.Models.ManagerModel
@{
    ViewBag.Title = "Admin";
}

<br />
<br />
<h2 style="color:#001f3f">Welcome to Admin Page</h2>
<hr />

<style>
    .MainButtons {
        font-weight: bold;
        box-shadow: 1px 1px 2px 2px grey inset;
    }
    .BoxColor {
        background-color: #428bca;
        color: white;
        border: 2px solid #0275d8;
        box-shadow: 1px 2px #0275d8;
    }
    .textAlign{
        text-align:center;
        font-weight:bold;
    }
</style>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-4" style="margin:6px;padding:6px">
            <a href="@Url.Action("Create", "EmployeeManager")" class="btn btn-default btn-group-lg MainButtons BoxColor">
                <span class="glyphicon glyphicon-plus"></span> New Employee
            </a>
            <a href=@Url.Action("Create", "DepartmentManager") class="btn btn-default btn-group-lg MainButtons BoxColor">
                <span class="glyphicon glyphicon-plus"></span> New Department
            </a>
        </div>
    </div>
    <br />
    <div class="col-md-6" style="margin:5px;padding:5px">
        <div class="col-md-12 BoxColor">
            <h4 class="textAlign">EMPLOYEE MANAGEMENT</h4>
            <div class="list-group">
                @Html.ActionLink("Click to Manage Employees", "Index", "EmployeeManager", null, new { @class = "list-group-item btn btn-default MainButtons" })
            </div>
        </div>
        <div class="col-md-12 BoxColor" style="margin-top:10px">
            <h4 class="textAlign">DEPARTMENT MANAGEMENT</h4>
            <div class="list-group">
                @Html.ActionLink("Click to Manage Departments", "Index", "DepartmentManager", null, new { @class = "list-group-item btn btn-default MainButtons" })
            </div>
        </div>
    </div>
</div>

