@model IEnumerable<ProjectManager.Core.Models.GalleryModel>
@{
    ViewBag.Title = "Home Page";
}
<br />
<h4>All Images</h4>
<hr />
@foreach (var item in Model)
{
    <div class="col-md-3" style="margin:5px;padding:5px">
        <div class="col-md-12">
            <a href="#" target="_blank">
                <img class="img-responsive" src="~/Content/Galleries/@item.Url" style="height:250px;border:1px solid thin whitesmoke;" />
            </a>
        </div>
        <div class="col-md-12">
            <h4>@item.Title.ToUpper()</h4>
            <p>Created at @item.CreatedAt.ToString("dd.MM.yyyy")</p>
        </div>
    </div>
}