@model IEnumerable<ProjectManager.Core.Models.GalleryModel>
@{
    ViewBag.Title = "Home Page";
}
<br />
<h4>All Galleries</h4>
<hr />

<div class="row" style="align-content:center">

    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-5 col-xs-6 thumb" style="border:1px solid;border-color:cadetblue;margin:8px;padding:8px">

            <h4 class="text-center">@item.Title</h4>
            <a href="@Url.Action("Index","GalleryManager")">
                <img class="img-responsive center-block" src="~/Content/Galleries/@item.Url" style="height:200px" alt="@item.Title">
                <b>See More!</b>
            </a>

        </div>
    }
</div>
